.contact {
  padding-top: 1.2rem;
  background-color: var(--soft-purple);

  img {
    display: none;
  }

  .right-col {

    form {
        display: flex;
        flex-direction: column;
        gap: .5em;
        margin-top: .5rem;
    
        input {
          height: 3.3rem;
          padding: .5rem;
          border-radius: 8px;
          border: none;
          border-bottom: 1px solid var(--orange);
          transition: border 0.3s ease-in-out;
          
          &:focus-visible {
            outline: transparent;
            border-bottom: 3px solid var(--dark-blue);
          }
        }

        input[type="submit"] {
          cursor: pointer;
          background-color: var(--orange);
          font-weight: bold;
          transition: 9ms ease-in-out all;

          &:hover {
            background-color: var(--dark-blue);
            color: var(--white);
          }
        }
        
        textarea {
          border-radius: 8px;
          padding: .5rem;
          border: none;
          border-bottom: 1px solid var(--orange);
          transition: border 0.3s ease-in-out;

          &:focus-visible {
              outline: transparent;
              border-bottom: 3px solid var(--dark-blue);
            }
        }
      }
  }
  
}