.formacao {
  background: var(--soft-purple);
  padding-top: 2em;
  padding-bottom: 2em;
  text-align: center;

  .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap: 3em;

    .formacao-cards {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      gap: 0.1rem;

      .cards-img {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 2rem;
        background-color: var(--white);
        border-radius: 5px;
      }
      
      figure {
        height: 9.18rem; 
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        background-color: var(--white);
        padding: 1rem;
        border-radius: 5px;
      }
    }
  }
}
