.hero .container {
  display: flex;
  flex-direction: column-reverse;

  .hero-img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
  }

  .left-col {

    .hero-links, li {
      display: flex;
      justify-content: space-between;
      padding-top: .5em;
    }
  }
}