@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
:root {
  --light-background: #fafafa;
  --dark-background: #161b22;
  --soft-purple: #9e9eff;
  --dark-purple: #6b4fbb;
  --light-blue: #58a6ff;
  --dark-blue: #0070f3;
  --light-fucsia: #ff0080;
  --dark-fucsia: #de1d8d;
  --orange: #fc6d26;
  --yellow: #ffbd2e;
  --black: #111315;
  --white: #ffffff;
}

body {
  font-family: Raleway, sans-serif;
  font-size: 1.1em;

  background: var(--light-background);
  color: var(--black);
}

.container {
  padding: 1rem 3.5rem;
}

@import "header";
@import "hero-section";
@import "about";
@import "skills";
@import "formacao";
@import "experiencia";
@import "contact";
@import "footer";


