@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
:root {
  --light-background: #fafafa;
  --dark-background: #161b22;
  --soft-purple: #9e9eff;
  --dark-purple: #6b4fbb;
  --light-blue: #58a6ff;
  --dark-blue: #0070f3;
  --light-fucsia: #ff0080;
  --dark-fucsia: #de1d8d;
  --orange: #fc6d26;
  --yellow: #ffbd2e;
  --black: #111315;
  --white: #ffffff;
}

body {
  font-family: Raleway, sans-serif;
  background: var(--light-background);
  color: var(--black);
}

.container {
  padding: 1rem;
}

.header {
  padding-top: 1em;
  background-color: var(--white);
  border-bottom: 1px solid rgba(158, 158, 255, 0.3);
}
.header .container {
  padding: 0.5em;
}
.header .container .left-col {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .container .left-col img {
  width: 50px;
  height: 50px;
}
.header .container .left-col .logo {
  font-size: 1.4em;
  font-weight: bold;
  text-decoration: none;
  color: var(--black);
}
.header .container .left-col .logo span {
  color: var(--dark-blue);
}
.header .container .left-col .mobile-menu {
  width: 25px;
  height: 25px;
  cursor: pointer;
}
.header .container .right-col .menu {
  display: none;
}

.hero .container {
  display: flex;
  flex-direction: column-reverse;
}
.hero .container .hero-img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
.hero .container .left-col .hero-links, .hero .container .left-col li {
  display: flex;
  justify-content: space-between;
  padding-top: 0.5em;
}

.sobre-mim {
  background: var(--soft-purple);
  padding-top: 1.2em;
}
.sobre-mim img {
  width: 300px;
  height: 200px;
}

.skills-hobbies {
  padding-top: 1.5em;
  padding-bottom: 1.2em;
  text-align: center;
}
.skills-hobbies .container {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  gap: 2em;
}
.skills-hobbies .container .skills-cards, .skills-hobbies .container .hobbies-cards {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 5px;
  box-shadow: 1px 1px 4px 0.5px rgba(158, 158, 255, 0.2);
  transition: 0.3s ease-in-out all;
  padding: 3.5em;
  font-size: 0.8em;
  font-weight: bold;
}
.skills-hobbies .container .skills-cards:hover, .skills-hobbies .container .hobbies-cards:hover {
  box-shadow: 1px 1px 5px 0.5px rgba(255, 0, 128, 0.3);
}
.skills-hobbies h2 {
  padding: 1.5rem;
}

.formacao {
  background: var(--soft-purple);
  padding-top: 1.2em;
  padding-bottom: 1.2em;
  text-align: center;
}
.formacao .container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 2em;
}
.formacao .container .formacao-cards {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.1rem;
}
.formacao .container .formacao-cards figure {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background-color: var(--white);
  padding: 1rem;
  border-radius: 5px;
}
.formacao .container .cards-img {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 3rem;
  background-color: var(--white);
  border-radius: 5px;
}

.experiencia {
  text-align: center;
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
}
.experiencia .experiencia-two-col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  padding: 1rem;
}
.experiencia .reverse {
  flex-direction: column-reverse;
}
.experiencia .buttons {
  margin-top: 1em;
}
.experiencia .buttons .primary-btn {
  padding: 0.5em 0.6em;
  margin-right: 0.4em;
  border-radius: 5px;
  background-color: var(--dark-background);
  color: var(--white);
  font-weight: bold;
  transition: 8ms ease-in-out all;
}
.experiencia .buttons .primary-btn:hover {
  background-color: var(--soft-purple);
  color: var(--black);
}
.experiencia .buttons .secondary-btn {
  padding: 0.5em 0.6em;
  margin-right: 0.4em;
  border: 1px solid var(--dark-background);
  border-radius: 5px;
  background-color: var(--white);
  color: var(--black);
  font-weight: bold;
  transition: 8ms ease-in-out all;
}
.experiencia .buttons .secondary-btn:hover {
  border: 1px solid var(--dark-fucsia);
  background-color: var(--dark-background);
  color: var(--white);
}

.contact {
  padding-top: 1.2rem;
  background-color: var(--soft-purple);
}
.contact img {
  display: none;
}
.contact .right-col form {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  margin-top: 0.5rem;
}
.contact .right-col form input {
  height: 3.3rem;
  padding: 0.5rem;
  border-radius: 8px;
  border: none;
  border-bottom: 1px solid var(--orange);
  transition: border 0.3s ease-in-out;
}
.contact .right-col form input:focus-visible {
  outline: transparent;
  border-bottom: 3px solid var(--dark-blue);
}
.contact .right-col form input[type=button] {
  cursor: pointer;
  background-color: var(--orange);
  font-weight: bold;
  transition: 9ms ease-in-out all;
}
.contact .right-col form input[type=button]:hover {
  background-color: var(--dark-blue);
  color: var(--white);
}
.contact .right-col form textarea {
  border-radius: 8px;
  padding: 0.5rem;
  border: none;
  border-bottom: 1px solid var(--orange);
  transition: border 0.3s ease-in-out;
}
.contact .right-col form textarea:focus-visible {
  outline: transparent;
  border-bottom: 3px solid var(--dark-blue);
}

.footer {
  text-align: center;
  background-color: var(--white);
  border-top: 1px solid rgba(252, 109, 38, 0.5);
  padding-top: 1em;
}/*# sourceMappingURL=main.css.map */