@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
:root {
  --light-background: #fafafa;
  --dark-background: #161b22;
  --soft-purple: #9e9eff;
  --dark-purple: #6b4fbb;
  --light-blue: #58a6ff;
  --dark-blue: #0070f3;
  --light-fucsia: #ff0080;
  --dark-fucsia: #de1d8d;
  --orange: #fc6d26;
  --yellow: #ffbd2e;
  --black: #111315;
  --white: #ffffff;
}

body {
  font-family: Raleway, sans-serif;
  font-size: 1.1em;
  background: var(--light-background);
  color: var(--black);
}

section {
  padding-top: 2em;
  padding-bottom: 2em;
}

.container {
  padding: 1rem 3.5rem;
}

h2 {
  font-size: 2rem;
}

.header {
  padding-top: 1em;
  background-color: var(--white);
  border-bottom: 1px solid rgba(158, 158, 255, 0.3);
}
.header .container {
  padding: 0.5em;
}
.header .container .left-col {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .container .left-col img {
  margin-right: 0.5em;
  width: 50px;
  height: 50px;
}
.header .container .left-col .logo {
  display: flex;
  align-items: center;
  font-size: 1.3em;
  font-weight: bold;
  text-decoration: none;
  color: var(--black);
}
.header .container .left-col .logo span {
  color: var(--dark-blue);
}
.header .container .left-col .mobile-menu {
  cursor: pointer;
  width: 45px;
  height: 45px;
  position: fixed;
  right: 1.1em;
  bottom: 2em;
  padding: 0.4em;
  background-color: rgba(107, 79, 187, 0.5);
  border-radius: 50%;
}
.header .container .right-col .mobile-menu-exit {
  position: fixed;
  right: 1.1em;
  bottom: 2em;
  margin: 0.5em;
  cursor: pointer;
}
.header .container .right-col .menu {
  display: block;
}
.header .container .right-col nav.visible {
  display: block;
}
.header .container .right-col nav {
  display: none;
  position: fixed;
  width: 66%;
  right: 0;
  top: 0;
  background: var(--dark-background);
  height: 100vh;
  padding: 1em;
  transition: 0.4s ease-in-out all;
}
.header .container .right-col nav ul {
  margin-top: 5em;
}
.header .container .right-col nav ul li a {
  color: var(--white);
  display: block;
  padding: 0.5em;
  font-size: 1.2em;
  text-align: left;
}
.header .container .right-col nav ul li a:hover {
  font-weight: bold;
}

@media only screen and (min-width: 1440px) {
  .mobile-menu,
  .mobile-menu-exit {
    visibility: hidden;
  }
  .header {
    padding: 1rem 3.5rem;
  }
  .header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
  }
  .header .container .left-col .logo {
    font-size: 2em;
  }
  .header .container .right-col .menu {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
  }
  .header .container .right-col nav {
    position: static;
    width: 100%;
    height: auto;
    display: flex;
    background: none;
    padding: 0;
  }
  .header .container .right-col nav ul {
    margin-top: 0;
  }
  .header .container .right-col nav ul li a {
    color: var(--black);
    padding: 0;
  }
}
.hero .container {
  display: flex;
  flex-direction: column-reverse;
}
.hero .hero-img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
.hero .left-col .hero-links,
.hero .left-col li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 0.5em;
  font-size: 0.93em;
}

@media only screen and (min-width: 768px) {
  .hero .container {
    flex-direction: row;
    align-items: center;
  }
  .hero .left-col {
    width: 70%;
  }
  .hero .left-col .hero-links li {
    font-size: 1.1em;
  }
}
@media only screen and (min-width: 1440px) {
  .hero .container {
    justify-content: space-between;
  }
  .hero .container h1 {
    font-size: 3.25rem;
    line-height: 1.2;
  }
  .hero .container p {
    font-size: 1.375rem;
  }
  .hero .left-col .hero-links {
    display: flex;
    align-items: center;
    justify-content: left;
    font-size: 1.5em;
    font-weight: bold;
    gap: 2em;
  }
  .hero .left-col .hero-links a {
    color: var(--dark-purple);
    transition: 5ms ease-in-out all;
  }
  .hero .left-col .hero-links a:hover {
    color: var(--orange);
    transform: scale(1.05);
  }
  .hero .hero-img {
    width: 368px;
    height: 368px;
    border-radius: 50%;
  }
}
.sobre-mim {
  background: var(--soft-purple);
  padding-top: 1.2em;
}
.sobre-mim img {
  width: 300px;
  height: 200px;
}

@media only screen and (min-width: 1440px) {
  .sobre-mim .container {
    width: calc(75% - 1em);
  }
}
.skills-hobbies {
  padding-top: 1.5em;
  padding-bottom: 1.2em;
  text-align: center;
}
.skills-hobbies .container {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(9.25rem, 1fr));
  gap: 2em;
}
.skills-hobbies .container .skills-cards, .skills-hobbies .container .hobbies-cards {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 5px;
  box-shadow: 1px 1px 4px 0.5px rgba(158, 158, 255, 0.2);
  transition: 0.3s ease-in-out all;
  padding: 3.5em;
  font-size: 0.8em;
  font-weight: bold;
}
.skills-hobbies .container .skills-cards:hover, .skills-hobbies .container .hobbies-cards:hover {
  box-shadow: 1px 1px 5px 0.5px rgba(255, 0, 128, 0.3);
}
.skills-hobbies h2 {
  padding: 1.5rem;
}

@media only screen and (min-width: 768px) {
  .skills-hobbies .container {
    grid-template-columns: repeat(auto-fit, minmax(11rem, 1fr));
  }
}
.formacao {
  background: var(--soft-purple);
  padding-top: 2em;
  padding-bottom: 2em;
  text-align: center;
}
.formacao .container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 3em;
}
.formacao .container .formacao-cards {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 0.1rem;
}
.formacao .container .formacao-cards .cards-img {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 2rem;
  background-color: var(--white);
  border-radius: 5px;
}
.formacao .container .formacao-cards figure {
  height: 9.18rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background-color: var(--white);
  padding: 1rem;
  border-radius: 5px;
}

.experiencia {
  text-align: center;
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
}
.experiencia .experiencia-two-col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  padding: 1rem;
}
.experiencia .reverse {
  flex-direction: column-reverse;
}
.experiencia .buttons {
  margin-top: 1em;
}
.experiencia .buttons .primary-btn {
  padding: 0.5em 0.6em;
  margin-right: 0.4em;
  border-radius: 5px;
  background-color: var(--dark-background);
  color: var(--white);
  font-weight: bold;
  transition: 8ms ease-in-out all;
}
.experiencia .buttons .primary-btn:hover {
  background-color: var(--soft-purple);
  color: var(--black);
}
.experiencia .buttons .secondary-btn {
  padding: 0.5em 0.6em;
  margin-right: 0.4em;
  border: 1px solid var(--dark-background);
  border-radius: 5px;
  background-color: var(--white);
  color: var(--black);
  font-weight: bold;
  transition: 8ms ease-in-out all;
}
.experiencia .buttons .secondary-btn:hover {
  border: 1px solid var(--dark-fucsia);
  background-color: var(--dark-background);
  color: var(--white);
}

@media only screen and (min-width: 1440px) {
  .experiencia .container {
    display: flex;
    flex-direction: column;
    gap: 2em;
  }
  .experiencia .container .experiencia-two-col {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2em;
  }
  .experiencia .container .experiencia-two-col img {
    width: calc(60% - 1em);
  }
  .experiencia .container .experiencia-two-col .left-col {
    width: calc(40% - 1em);
  }
}
.contact {
  background-color: var(--soft-purple);
}
.contact img {
  display: none;
}
.contact .right-col form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.7em;
}
.contact .right-col form input {
  height: 3.3rem;
  padding: 0.5rem;
  border-radius: 8px;
  border: none;
  border-bottom: 1px solid var(--orange);
  transition: border 0.3s ease-in-out;
}
.contact .right-col form input:focus-visible {
  outline: transparent;
  border-bottom: 3px solid var(--dark-blue);
}
.contact .right-col form input[type=submit] {
  cursor: pointer;
  background-color: var(--orange);
  font-weight: bold;
  transition: 9ms ease-in-out all;
}
.contact .right-col form input[type=submit]:hover {
  background-color: var(--dark-blue);
  color: var(--white);
}
.contact .right-col form textarea {
  border-radius: 8px;
  padding: 0.5rem;
  border: none;
  border-bottom: 1px solid var(--orange);
  transition: border 0.3s ease-in-out;
}
.contact .right-col form textarea:focus-visible {
  outline: transparent;
  border-bottom: 3px solid var(--dark-blue);
}

@media only screen and (min-width: 1440px) {
  .contact .container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
  }
  .contact .container .left-col img {
    width: 464px;
    height: 593px;
    display: block;
  }
  .contact .container .right-col {
    height: 593px;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
.footer {
  text-align: center;
  background-color: var(--white);
  border-top: 1px solid rgba(252, 109, 38, 0.5);
  padding-top: 1em;
}/*# sourceMappingURL=main.css.map */